.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vh;
}
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(97 112 154 / 30%);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
.fieldsetLegend {
  font-size: 1em !important;
  margin-left: -1em;
  padding: 0.65em;
  text-align: start;
  font-family: Arial, serif;
  color: white;
  line-height: 0.5em;
  background-color: #f68b1e;
  border-radius: 3px;
  border: 1px solid #f68b1e;
}